* {
    display: block;
    box-sizing: border-box;
}

body {
    max-width: 100px;
    background: url(Raf-Grassetti-Batman-DC-Comics-фэндомы-6221544.jpeg);
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:50% 25%;
}

.field {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #cccccc;
    
    
    

}

.excel {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.snakeBody {
    background: url(icons8-джокер-dc-48.png);
    background-size: cover;
    border-radius: 50%;

}

.head  {
    background: url(icons8-джокер-dc-48.png);
    background-size: cover;
    border-radius: 50%;

}

.mouse {
    background: url(icons8-бэтмен-эмодзи-48.png);
    background-size: cover;
   

}

button {
    
    padding-right: 356px;
    background-color: black;
    
}
button h1 {
    text-align: center;
    color: blueviolet;
    
}